[tool.poetry]
name = "kgdata"
version = "1.1.2"
description = "Library to process dumps of knowledge graphs (Wikipedia, DBpedia, Wikidata)"
authors = ["Binh Vu <binh@toan2.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
orjson = "^3.5.2"
tqdm = "^4.60.0"
beautifulsoup4 = "^4.9.3"
cityhash = "^0.2.3"
pyspark = "3.0.1"
rocksdb = "^0.7.0"
loguru = "^0.5.3"
rdflib = "^5.0.0"
six = "^1.16.0"
"ruamel.yaml" = "^0.17.4"
chardet = "^4.0.0"
ujson = "^4.0.2"
redis = "^3.5.3"
networkx = "^2.5.1"
numpy = "^1.20.3"
fastnumbers = "^3.1.0"
requests = "^2.25.1"

[tool.poetry.dev-dependencies]
python-dotenv = "^0.17.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
