[tool.poetry]
name = "kgdata"
version = "2.2.1"
description = "Library to process dumps of knowledge graphs (Wikipedia, DBpedia, Wikidata)"
authors = ["Binh Vu <binh@toan2.com>"]
license = "MIT"
homepage = "https://github.com/binh-vu/kgdata"
repository = "https://github.com/binh-vu/kgdata"
readme = "README.md"

[tool.poetry.scripts]
kgdata = 'kgdata.__main__:cli'

[tool.poetry.dependencies]
python = "^3.8"
orjson = "^3.6.8"
tqdm = "^4.64.0"
beautifulsoup4 = "^4.9.3"
cityhash = "^0.2.3"
pyspark = "3.0.3"
lbry-rocksdb-optimized = "^0.8.1"
loguru = ">=0.6.0"
rdflib = "^6.1.1"
six = "^1.16.0"
"ruamel.yaml" = "^0.17.9"
chardet = "^4.0.0"
ujson = "^5.1.0"
redis = "^3.5.3"
numpy = "^1.22.3"
fastnumbers = "^3.1.0"
requests = "^2.27.1"
sem-desc = "^3.4.2"
click = "^8.1.3"
parsimonious = "^0.8.1"
hugedict = "^1.4.0"

[tool.poetry.dev-dependencies]
python-dotenv = ">=0.19.0"
pytest = "^6.2.5"
black = "^22.3.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
