[tool.poetry]
name = "kgdata"
version = "1.5.0"
description = "Library to process dumps of knowledge graphs (Wikipedia, DBpedia, Wikidata)"
authors = ["Binh Vu <binh@toan2.com>"]
license = "MIT"

[tool.poetry.scripts]
kgdata = 'kgdata.cli:cli'

[tool.poetry.dependencies]
python = "^3.8"
orjson = "^3.6.4"
tqdm = "^4.60.0"
beautifulsoup4 = "^4.9.3"
cityhash = "^0.2.3"
pyspark = "3.0.3"
lbry-rocksdb-optimized = "^0.8.1"
loguru = "^0.5.3"
rdflib = "^5.0.0"
six = "^1.16.0"
"ruamel.yaml" = "^0.17.9"
chardet = "^4.0.0"
ujson = "^4.0.2"
redis = "^3.5.3"
networkx = "^2.6.3"
numpy = "^1.21.4"
fastnumbers = "^3.1.0"
requests = "^2.26.0"
sem-desc = "~1.2.5"
click = "^8.0.3"
parsimonious = "^0.8.1"
hugedict = "~1.1.0"

[tool.poetry.dev-dependencies]
python-dotenv = ">=0.19.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
